@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:ital,wght@1,200&family=Shalimar&display=swap');
@import url(//db.onlinewebfonts.com/c/f30f29c6621ee4f6d36f7b15a0769e84?family=Lucida+Handwriting);
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #252525;
    display: block;
}

.line {
    position: absolute;
    background-color: #FB607F;
    margin-top: 4.7%;
    margin-left: 30%;
    width: 170px;
    height: 1.2mm;
}

.info_body {
    position: inherit;
    display: block;
    background-color: #1c1c1c4d;
    color: #F8F8FF;
    height: 100%;
    font-family: 'Comfortaa', cursive;
}

.background {
    position: absolute;
    margin-top: 12%;
    width: 100%;
    height: 60%;
    background-color: #7256c5;
    text-shadow: 1px 1px 1px #555454;
}

.background h2 {
    position: absolute;
    color: #F8F8FF;
    font-family: 'Comfortaa', cursive;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 19px;
    text-align: justify;
    width: 20%;
}

fieldset {
    position: absolute;
    width: 468px;
    height: 491px;
    background-color: #F8F8FF;
    color: #1C1C1C;
    margin-top: 94px;
    margin-left: 800px;
    border-radius: 5%;
    border: 1px solid #1C1C1C;
    box-shadow: 3px 3px 3px 3px #1c1c1c86;
}

#title {
    padding: 24px;
    margin-top: 18px;
    margin-left: 102px;
}

.form {
    padding: 10px;
    margin-top: 1px;
    margin-left: 99px;
    outline: none;
}

input {
    display: flex;
    width: 261px;
    height: 32px;
    font-family: 'Comfortaa', cursive;
    border-radius: 6px;
}

input:hover {
    border-color: #FB607F;
    cursor: pointer;
}

.icon {
    position: absolute;
    display: block;
    font-size: 24px;
    margin-top: 16px;
    margin-left: 75px;
}

textarea {
    padding-top: 8px;
    width: 7cm;
    height: 3cm;
    overflow: auto;
    font-family: 'Comfortaa', cursive;
    border: solid 2px #1C1C1C;
}

textarea:hover {
    border-color: #FB607F;
    cursor: pointer;
}

.form textarea {
    border-radius: 6px;
}

button {
    border-radius: 6px;
    margin-top: 12px;
    margin-left: 10px;
    border-color: #1C1C1C;
    background-color: #7256c5;
    color: #F8F8FF;
    width: 88px;
    padding: 8px;
    box-shadow: 2px 2px 2px #555454;
    text-shadow: 1px 1px 1px #555454;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: #FB607F;
    box-shadow: inset 2px 2px 2px #646464;
    text-shadow: none;
    cursor: pointer;
}

footer {
    position: relative;
    display: -webkit-inline-box;
    background-color: #1C1C1C;
    margin-top: 44%;
    width: 100%;
    height: 58mm;
}

.footer {
    margin-left: 206px;
    margin-top: 10px;
}

.line_footer {
    position: absolute;
    background-color: #FB607F;
    width: 100vw;
    height: 0.5mm;
}

.link_footer:hover {
    text-decoration: none;
    color: #F8F8FF;
    transition: 0.5s ease-out;
}

footer h3 {
    color: #FB607F;
    font-size: 14pt;
    margin-top: 15%;
    margin-left: 400%;
    width: 100%;
    padding: 4px;
    text-decoration: none;
}

footer a {
    display: block;
    padding: 1mm;
    font-size: 10pt;
    color: #89898c;
    text-align: center;
    margin-left: 385%;
    width: 100%;
    text-decoration: none;
    list-style: none;
}

footer i {
    display: block;
    color: #89898c;
    margin-left: 69%;
    width: 100%;
    margin-left: 51mm;
    margin-top: 50mm;
    font-size: 9pt;
}

ul li {
    list-style: none;
}


/* For Tablet */

@media screen and (min-width: 766px) and (max-width: 1024px) {
    .logo {
        background-color: #FB607F;
    }
    .link_menu {
        color: #1C1C1C;
        font-family: "Lucida Handwriting";
        font-size: 17px;
        margin-left: -9px;
        padding: 14px;
        text-decoration: none;
    }
    .link_menu:hover {
        text-decoration: none;
        font-size: 19px;
        text-shadow: #646464;
    }
    .line {
        position: absolute;
        background-color: #FB607F;
        margin-top: 19mm;
        margin-left: 84mm;
        width: 41mm;
        height: 1.2mm;
    }
    .background {
        position: absolute;
        margin-top: 204px;
        width: 100%;
        height: 407px;
        background-color: #7256c5;
        text-shadow: 1px 1px 1px #555454;
    }
    .background h2 {
        position: absolute;
        color: #F8F8FF;
        font-family: 'Comfortaa', cursive;
        margin-left: 16px;
        margin-top: 44px;
        font-size: 14px;
        text-align: justify;
        width: 253px;
    }
    fieldset {
        position: absolute;
        width: 440px;
        height: 491px;
        background-color: #F8F8FF;
        color: #1C1C1C;
        margin-top: 94px;
        margin-left: 283px;
        border-radius: 5%;
        border: 1px solid #1C1C1C;
        box-shadow: 3px 3px 3px 3px #1c1c1c86;
    }
    .form {
        padding: 10px;
        margin-top: 1px;
        margin-left: 94px;
        outline: none;
    }
    .icon {
        position: absolute;
        display: block;
        font-size: 24px;
        margin-top: 16px;
        margin-left: 68px;
    }
    footer {
        position: relative;
        display: -webkit-inline-box;
        background-color: #1C1C1C;
        margin-top: 90%;
        width: 100%;
        height: 58mm;
    }
    .footer {
        margin-left: -113px;
    }
    .link_footer:hover {
        text-decoration: none;
        color: #F8F8FF;
        transition: 0.5s ease-out;
    }
    footer h3 {
        color: #FB607F;
        font-size: 14pt;
        margin-top: 15%;
        margin-left: 400%;
        width: 100%;
        padding: 4px;
        text-decoration: none;
    }
    footer a {
        display: block;
        padding: 1mm;
        font-size: 10pt;
        color: #89898c;
        text-align: center;
        margin-left: 385%;
        width: 100%;
        text-decoration: none;
        list-style: none;
    }
    footer i {
        display: block;
        color: #89898c;
        margin-left: 69%;
        width: 100%;
        margin-top: 50mm;
        font-size: 9pt;
    }
    ul li {
        list-style: none;
    }
}


/* For phone */

@media (aspect-ratio: 20/9),
(max-width: 500px) {}